{% extends "base.html" %}


{% block page_title %}Change Password | {% endblock %}

{% block page_content %}
<div class='col-sm-6 col-sm-offset-3'>
<form class="form-horizontal well" method="post">{% csrf_token %}
    <fieldset>
        <legend>Update your password</legend>

        <p><em>Please enter your old password, for security's sake, and then enter your new password twice so we can verify that you typed it in correctly.</em></p>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="form-actions">
      <br>
      <input class='btn btn-primary btn-md' type='submit' name='submit' value='submit change' />
      <a class='btn btn-default btn-md' href="{% url 'list' %}">cancel</a>
    </div>
</form>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock %}